gunicorn==19.9.0
uvicorn==0.11.7
starlette==0.11.4
aioify==0.3.1
numpy==1.16.3
nltk==3.4.5
scikit-learn==0.20.3  
newspaper3k==0.2.8
lxml==4.3.3
pandas==0.24.2
vaderSentiment==3.2.1
rake-nltk==1.0.4
xgboost==0.82
polyglot==16.7.4
pycld2==0.31
PyICU==2.3.1
spacy==2.1.3
