api/node_modules
api/npm-debug.log
api/*.env
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
*.env
db.sqlite3
ml/__pycache__
ml/*.pyc
ml/*.pyo
ml/*.pyd
ml/.Python
ml/app/.env
ml/pip-log.txt
ml/pip-delete-this-directory.txt
ml/.tox
ml/.coverage
ml/.coverage.*
ml/.cache
ml/coverage.xml
ml/*,cover
ml/*.log
ml/.git